<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "ראו את התמלול שלכם תוך דקות - בחינם | QuickScribe",
  "description": "העלו קובץ אודיו או וידאו וקבלו תמלול מדויק בעברית מיד. הדגמה קצרה של תמלול AI בעברית עם QuickScribe.",
  "thumbnailUrl": [
    "https://i.ytimg.com/vi/WDx5fqLYtZA/maxresdefault.jpg",
    "https://i.ytimg.com/vi/WDx5fqLYtZA/hqdefault.jpg"
  ],
  "uploadDate": "2026-07-01",
  "contentUrl": "https://www.youtube.com/watch?v=WDx5fqLYtZA",
  "embedUrl": "https://www.youtube-nocookie.com/embed/WDx5fqLYtZA",
  "publisher": {
    "@type": "Organization",
    "name": "QuickScribe",
    "url": "https://www.getquickscribe.com/"
  }
}
</script>
